@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

// colors
$blue: #75d5ff;
$violet:#7158e2;
$white: #fff;


*{
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg,#75d5ff,#7158e2);
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.search {
    position: relative;
    height: 50px;

    .input{
        background-color: $white;
        border: 0;
        font-size: 18px;
        padding: 15px;
        height: 50px;
        width: 50px;
        transition: width 0.3s  ease ;
        -webkit-transition: width 0.3s  ease ;
        -moz-transition: width 0.3s  ease ;
        -ms-transition: width 0.3s  ease ;
        -o-transition: width 0.3s  ease ;
        border-radius: 3%;
        -webkit-border-radius: 3%;
        -moz-border-radius: 3%;
        -ms-border-radius: 3%;
        -o-border-radius: 3%;
}

    .btn{
       background-color: $white;
       border: 0;
       cursor: pointer;
       font-size: 24px;
       position: absolute;
       top:0;
       left: 0;
       height: 50px;
       width: 50px;
       transition: transform 0.3s ease ;
       border-radius: 3%;
       -webkit-transition: transform 0.3s ease ;
       -moz-transition: transform 0.3s ease ;
       -ms-transition: transform 0.3s ease ;
       -o-transition: transform 0.3s ease ;
       -webkit-border-radius: 3%;
       -moz-border-radius: 3%;
       -ms-border-radius: 3%;
       -o-border-radius: 3%;
}
}


    .btn:focus, 
    .input:focus{
        outline: none;
    }

    .search.active .input{
        width: 200px;
    }

    .search.active .btn {
        transform: translateX(198px);
        -webkit-transform: translateX(198px);
        -moz-transform: translateX(198px);
        -ms-transform: translateX(198px);
        -o-transform: translateX(198px);
    }


